<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>



  <div class="navbar">
    {% for company in nav %}
    <div class="navbar-item">
      <a href="/company?id={{ company[0] }}">{{ company[1] }}</a>
    </div>
    {% endfor %}
  </div>

  <div class="body-content">
    <div>
      <a href="/">Terug naar home.</a>
    </div>

    <h1>Basis informatie</h1>
    <div class="information">
        <div class="basic-info">
            <table>
                <tr><td>Naam: </td><td>{{ result[0][1] }}</td></tr>
                <tr><td>Site: </td><td><a href="{{ result[0][2] }}">{{ result[0][2] }}</a></td></tr>
                <tr><td>Soort vereniging: </td><td>{{ result[0][3] }}</td></tr>
                <tr><td>B2B/B2C: </td><td>{{ result[0][4] }}</td></tr>
                <tr><td>Sector: </td><td>{{ result[0][5] }}</td></tr>
                <tr><td>Sector: </td><td>{{ result[0][22] }} {{ result[0][23] }}, {{ result[0][24] }}</td></tr>
            </table>
        </div>

        <div class="searchwords">
            <table class="table-searchwords">
                <tr>
                    <th>Woord</th>
                    <th>Voorkomens</th>
                </tr>
                <tbody id="table-body">
                </tbody>
            </table>
            
        </div>
    </div>

    <h1>Scores</h1>
    <div class="charts">
        <div class="chart">
            <h3>Environment</h3>
            <canvas id="scores_e"></canvas>
        </div>
      
        <div class="chart">
            <h3>Social</h3>
            <canvas id="scores_s"></canvas>
        </div>
      
        <div class="chart">
            <h3>Governance</h3>
            <canvas id="scores_g"></canvas>
        </div>
    </div>


    <div class="charts">
        <div class="chart">
            <h3>Domeinscores</h3>
            <canvas id="domains"></canvas>
        </div>
    </div>
</div>
    </body>
</div>
</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  var result = {{ result | tojson }};
  var env = {{ env | tojson }};
  var soc = {{ soc | tojson }};
  var gov = {{ gov | tojson }};

  perc_env = env[0];
  perc_soc = soc[0];
  perc_gov = gov[0];

  var subdomains_environment = result[0][13]
  var subdomains_social = result[0][14]
  var subdomains_governance = result[0][15]
  var environment_score = result[0][16];
  var sector_env_avg = result[0][35][1];
  var sector_soc_avg = result[0][36][1];
  var sector_gov_avg = result[0][37][1];
  var social_score = result[0][17];
  var governance_score = result[0][18];

  if(result[0][8] == null){
    arrayPDF = [];
  } else {
    arrayPDF = result[0][8];
  }
  
  if(result[0][7] == null){
    arrayWeb = [];
  } else {
    arrayWeb = result[0][7];
  }
  
  var array2D = arrayWeb.concat(arrayPDF);
  array2D.sort((a, b) => a[0].localeCompare(b[0]));

  const tableBody = document.getElementById("table-body");

  array2D.forEach(row => {
    const tableRow = document.createElement("tr");
    const wordCell = document.createElement("td");
    const countCell = document.createElement("td");

    wordCell.textContent = row[0];
    countCell.textContent = row[1];

    tableRow.appendChild(wordCell);
    tableRow.appendChild(countCell);
    tableBody.appendChild(tableRow);
  });
  
      var ctx = document.getElementById("domains").getContext("2d");
      const myChart = new Chart(ctx, {
        type: "bar",
        options:{
          scales:{
              y:{
                max:1, min:0, ticks:{stepSize:0.1}
              }
          }},
          
        data: {
          labels: ["Environment", "Social", "Governance"],
          datasets: [
            {
              label: "Percentiel",
              data: [environment_score, social_score, governance_score],
              borderWidth: 1,
            },
            {
              label: "Percentiel",
              data: [sector_env_avg, sector_soc_avg, sector_gov_avg],
              borderWidth: 1,
            },
          ],
        },
      });

    var ctx = document.getElementById("scores_e").getContext("2d");
    const chart_env = new Chart(ctx, {
      type: "bar",
      options:{
          scales:{
              y:{
                max:1, min:0, ticks:{stepSize:0.1}
              }
            }
          },
      data: {
        labels: ["resource use", "pollution", "climate change", "water & marine resources", "biodiversity"],
        datasets: [
          {
            label: "Percentiel",
            data: subdomains_environment,
            borderWidth: 1,
          },
          {
            label: "Percentiel",
            data: perc_env,
            borderWidth: 1,
          }
        ],
      },
    });

    var ctx = document.getElementById("scores_s").getContext("2d");
    const chart_soc = new Chart(ctx, {
      type: "bar",
      options:{
          scales:{
              y:{
                max:1, min:0, ticks:{stepSize:0.1}
              }
            }
          },
      data: {
        labels: ["own workforce", "workers in the value chain", "affected communities", "consumers/end-users"],
        datasets: [
          {
            label: "Percentiel",
            data: subdomains_social,
            borderWidth: 1,
          },
          {
            label: "Percentiel",
            data: perc_soc,
            borderWidth: 1,
          }
        ],
      },
    });

    var ctx = document.getElementById("scores_g").getContext("2d");
    const chart_gov = new Chart(ctx, {
      type: "bar",
      options:{
          scales:{
              y:{
                max:1, min:0, ticks:{stepSize:0.1}
              }
            }
          },
      data: {
        labels: ["business conduct"],
        datasets: [
          {
            label: "Percentiel",
            data: subdomains_governance,
            borderWidth: 1,
          },
          {
            label: "Percentiel",
            data: perc_gov,
            borderWidth: 1,
          },
        ],
      },
    });
  </script>
