<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..\static\css\style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <title>Dashboard</title>
  </head>
  <body>
    {% for cat in categories %} {% if cat[1]|string == catid|string %}
    <h1>{{ cat[0] }}</h1>
    {% endif %} {%endfor%}
    <div class="body-content">

    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var result = {{ results | tojson }};
  
  function getSectorName(sectoren, sectorNumber) {
    console.log(sectoren)
    for (let i = 0; i < sectoren.length; i++){
        if(sectoren[i][0] == sectorNumber){
            return sectoren[i][1];
        } else {
            return 'not found';
    }
  }
}

  var sectoren = {{ sectoren | tojson }};
  for(element in result){
      for (word in result[element]){
          if (result[element[word]]){
            array = result[element[word]];
            for (var i = 0; i <= array.length; i++) {
                var max = array.length - 1
                if (i == 0) {
                    var newHeading = document.createElement('h3');
                    var headingText = document.createTextNode(array[i][1]);
                    newHeading.appendChild(headingText);
                    document.querySelector('.body-content').appendChild(newHeading);

                    table = document.createElement('table');
                    var tableHead = document.createElement('thead');
                    
                    var newRow = document.createElement('tr');
                    var cell1 = document.createElement('th');
                    var cell2 = document.createElement('th');
                    var cell3 = document.createElement('th');
                    var text1 = document.createTextNode('Sector');
                    var text2 = document.createTextNode('Aantal bedrijven <= 1 voorkomen');
                    var text3 = document.createTextNode('% t.o.v. totaal');

                    cell1.appendChild(text1);
                    cell2.appendChild(text2);
                    cell3.appendChild(text3);
                    newRow.appendChild(cell1);
                    newRow.appendChild(cell2);
                    newRow.appendChild(cell3);
                    table.appendChild(newRow);

                    var sectorid = array[i][2];
                    sectorid = getSectorName(sectoren, sectorid);
                    var aantal = array[i][3];
                    var perc = array[i][4];

                    var newRow = document.createElement('tr');
                    var cell1 = document.createElement('td');
                    var cell2 = document.createElement('td');
                    var cell3 = document.createElement('td');
                    var text1 = document.createTextNode(sectorid);
                    var text2 = document.createTextNode(aantal);
                    var text3 = document.createTextNode(perc);

                    cell1.appendChild(text1);
                    cell2.appendChild(text2);
                    cell3.appendChild(text3);
                    newRow.appendChild(cell1);
                    newRow.appendChild(cell2);
                    newRow.appendChild(cell3);
                    table.appendChild(newRow);
                } else {

                    if(array[i]){
                        var sectorid = array[i][2];
                        sectorid = getSectorName(sectoren, sectorid);

                        var aantal = array[i][3];
                        var perc = array[i][4];

                        var newRow = document.createElement('tr');
                        var cell1 = document.createElement('td');
                        var cell2 = document.createElement('td');
                        var cell3 = document.createElement('td');
                        var text1 = document.createTextNode(sectorid);
                        var text2 = document.createTextNode(aantal);
                        var text3 = document.createTextNode(perc);

                        cell1.appendChild(text1);
                        cell2.appendChild(text2);
                        cell3.appendChild(text3);
                        newRow.appendChild(cell1);
                        newRow.appendChild(cell2);
                        newRow.appendChild(cell3);

                        table.appendChild(newRow);

                        if (i == max){document.querySelector('.body-content').appendChild(table);}
                    }
                }
            }
          }
      }
  }
</script>