<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="navbar">
      {% for company in nav %}
      <div class="navbar-item">
        <a href="/company?id={{ company[0] }}">{{ company[1] }}</a>
      </div>
      {% endfor %}
    </div>

    <div class="body-content">
      <h2>Geavanceerd zoeken</h2>

      <fieldset>
        <form action="/search" method="GET">
          <!--Naam-->
          <p>
            <label for="companyname">Ondernemingsnaam</label
            ><input type="text" name="companyname" id="" />
          </p>

          <!--Percentiel-->
          <p>
            <label for="percentile">Percentiel / score</label
            ><input
              type="number"
              step="0.01"
              min="0"
              max="100"
              name="percentile"
            />
          </p>

          <!--Domein-->
          <label for="domain">Domein (voor percentiel)</label>
          <p>
            <select name="domain">
              <option value="domein_environment">Environment</option>
              <option value="domein_social">Social</option>
              <option value="domein_governance">Governance</option>
            </select>
          </p>

          <!--Sector-->
          <p>
            <label for="">Sector</label>
            <select name="" id="">
              {% for s in sectoren %}
              <option value="{{ s[0] }}">{{ s[0] }}</option>
              {%endfor%}
            </select>
          </p>

          <!--Zoekwoorden-->
          <p>
            <select name="searchwords" multiple class="searchwords-select" ondblclick="logSelectedValues()">
              {% for category, values in searchwords.items() %}
              <optgroup label="{{ category }}">
                {% for value in values %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
            
            <script>
            function logSelectedValues() {
              const selectElement = document.querySelector('.searchwords-select');
              const selectedOptions = Array.from(selectElement.selectedOptions).map(option => option.value);
              const textareaElement = document.querySelector('#searchwords-selected');
              selectedOptions.forEach(option => {textareaElement.value += option + '\n';});
            } 
            </script>            
          </p>

          <p><textarea name="searchwords" id="searchwords-selected" cols="30" rows="10"></textarea></p>

          <button type="submit">Submit</button>
        </form>
      </fieldset>

      {{ results }}

      <div>
        <table>
          <tr>
            <th>Ondernemingsnummer</th>
            <th>Naam</th>
            <th>Sector</th>
            <th>Totaalscore</th>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

<script></script>
